.pending-tasks-container {
    margin: 1rem;
    position: relative;
    background-color: #f9f9f9;
  }
  
  p {
    padding: 0;
    margin: 0;
    font-size: 20px;
  }
  span {
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .tasks {
    display: flex;
    justify-content: space-between;
  }
  
  .task-card {
    /* background-color: #fff; */
    border-radius: 8px;
    padding: 15px;
  }
  
  .task-card h2 {
    font-size: 1.8em;
    margin: 0;
    color: gray;
  }
  
  .task-card p {
    font-size: 1em;
    margin: 10px 0;
    color: #555;
  }
  
  .task-card ul {
    list-style: none;
    padding: 0;
  }
  
  .task-card ul li {
    font-size: 0.9em;
    color: #777;
  }
  
  .pending-task-footer {
    margin-top: 20px;
    color: #999;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 12px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    color: #007bff;
    border-bottom: 0.5px solid #007bff;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    /* background-color: #ccc; */
    color: #007bff;
    border-bottom: 0.5px solid #007bff;
  }
  
  .pagination-button-prev {
    border: none;
    position: absolute;
    background: transparent;
    top: 50%;
    left: -2%;
    cursor: pointer;
  }
  
  .pagination-button-next {
    border: none;
    position: absolute;
    background: transparent;
    top: 50%;
    right: -2%;
    cursor: pointer;
  }
  
  .current-page-circle {
    border: 0.5px solid transparent;
    background-color: gray;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-left: 1rem;
  }
  
  .page-active {
    background-color: #007bff;
  }